[Desktop Entry]
Name=Custom-Dark

X-KDE-PluginInfo-Author=Vincent Gires
X-KDE-PluginInfo-Email=mail@vincentgires.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Custom-Dark
X-KDE-PluginInfo-Version=0.0.1
